:root
{
 --bg-cl:orange; /* background color */
 --mn-lk:green; /* menu a */
 --mn-lk-vs:green; /* menu a visited*/
 --mn-bg:white; /* menu background*/
 --hd-nm:#295931; /* header name */
 --id-ct:black; /* index page content */
 --ab-tt:white; /* about page title */
 --ab-ct:black; /* about page paragraph */
 --pd-bg:red; /* project description background */
 --pd-tt:white; /* project description text */
 --bb-im:green;  /*border-bottom of images */
 --bb-pd:white; /*border-bottom of project description */
 --bb-hd:white; /*border-bottom of header */
 --ab-ts:130%; /* about page title size */
 --ab-ps:20%;  /* about page pargraph size*/
}




/*****************/
*
{ margin:0;
  padding:0;
}
body,html
{width:100%;
 height:100%;
}

body
{ background-color:var(--bg-cl);
}

/* HEADER */
div#header
{ width:100%;
  text-align:justify;
  text-justify: inter-word;
  border-bottom: 3px solid var(--bb-hd);
  height:60px;
  padding-top:20px;
}
div#header > h2
{
 font-family:Helvetica,sans-serif;
 color:var(--hd-nm);
 font-weight:normal;
 margin-left:13px;
 font-size:20px;
}
h2#my_name_1
{ margin-top:-5px;
}
/***************/


/* INDEX PAGE */
div#home_wrapper{
  display:grid;
  grid-template-columns: [a] 0.1fr [b] 2.8fr [c] 0.1fr;
}
div#home_content
{
 grid-area:b;
 justify-self:center;
}
div#home_content > h1
{
 text-align:center;
 font-family:Helvetica,sans-serif;
 font-weight:bold;
 font-size:70px;
 color:var(--id-ct);
}
div#home_content > img 
{ display: block;
  margin:auto;
  margin-top:2px;
}
div.bar
{height:10px;
 width:190px;
 margin-top:5px;
 background-color:white;
 margin:auto;
 margin-top:2px;
}
/***************/


/* ABOUT */
div#about_wrapper{
 display:grid;
 grid-template-columns: [a] 0.1fr [b] 1fr [c] 0.1fr;
}
div#about_content
{ grid-area:b;
  justify-self:center;
}
div.text_content
{ margin-bottom: 20px;
}
div.text_content >  h3
{ color:var(--ab-tt);
  font-family:Helvetica,sans-serif;
  font-size:var(--ab-ts);
  margin-bottom:12px;
}
div.text_content > p 
{ color:var(--ab-ct);
  font-family:Helvetica,sans-serif;
  text-align:justify;
}
div#About > a
{ text-decoration:none;
}
div.text_content
{ margin:auto;
  margin-top: 30px;
}
/**********/

/* CONTACT */
div#contact_wrapper{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  grid-auto-rows: 220px;
  grid-template-areas:
  ". a a ."
  ". a a .";
}
div#contact_content
{
 grid-area:a;
 align-self: center;
 justify-self:center;
}
/**************/




/* FOOTER */
div#footer
{ width:100%;
  position:fixed;
  left:0;
  bottom:0;
  height: 30px;
  padding-top:10px;
  background-color:var(--mn-bg);
}
div#div_menu
{ display:table;
  margin: 0 auto;
}
ul#menu
{
  list-style-type:none;
  margin:0;
  padding:0;
}
ul#menu > li 
{
  display:inline;
}
ul#menu > li > a
{ padding: 5px;
  text-decoration: none;
  font-family:Helvetica,sans-serif;
  color:var(--mn-lk);
}
ul#menu > li > a:visited
{ color:var(--mn-lk-vs);
}
ul#menu > li > a:hover
{ font-weight:bold;
}
/***************/

/* PROJECTS */
div.center
{display:grid;
}
div.project
{ position:relative;
  justify-self:center;
  margin-bottom: 60px;
}

div.project > div.project_image{ 
  /*height: 400px;
  width: 600px
  object-fit:cover;
  */
}
div.project > div.project_description{  
  margin-top:40px;
  background-color:var(--pd-bg);
  height: 60px;
  padding-left:14px;
  padding-top:14px;
  border-bottom:1px solid var(--bb-pd);
}
div.project > div.project_description > h4 {  
  margin-bottom: 6px;
}
div.project > div.project_description > *,a
{ color:var(--pd-tt);
  font-size:18px;
  font-family:Helvetica,Arial,sans-serif;
}
div.project > div.project_image > img
{max-width:100%;
 height:auto;
 border-bottom: 1px solid var(--bb-im); 
}
/***************/

/* MEDIA QUERY */
@media screen and (min-width:1200px){
div#about_wrapper{
 grid-template-columns: [a] 0.5fr [b] 1fr [c] 0.5fr;
}
}

@media screen and (max-width:400px)
{
div.project > div.project_description > p
{ color:var(--pd-tt);
  font-size:18px;
}
div.project > div.project_description
{  
  padding-left:5px;
  padding-top:5px;
}
 div#home_content > h1
 {
   font-size:50px;
 }
}

@media screen and (min-width:402px) and (max-width:800px)
{
 div#home_content > h1
 {
   font-size:50px;
 }
}
@media screen and (max-width:320px)
{
div.project > div.project_description > p,a
{ font-size:16px;
}
ul#menu > li > a
{ padding: 3px;
  font-size:14px;
}
div#home_content > h1
{
 font-size:40px;
}

}
