body
{ background-color:#FFFFDC;
  /*background-color:rgb(232,247,197);*/
}
/* HEADER */
div#header
{ text-align:justify;
  text-justify: inter-word;
}
div#header > h2
{
 font-family:Helvetica,sans-serif;
 font-weight:lighter;
 color:#001919;
}
h2#my_name
{letter-spacing: 2px;
}
h2#my_name_1
{ margin-top:-25px;
  letter-spacing:5px;
}
hr{
 margin-right:-7px;
 margin-left:-7px;
 height:1px;
 background-color:red;
}
/***************/


/* INDEX PAGE */

div#home_wrapper{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  grid-auto-rows: 220px;
  grid-template-areas:
  ". a a ."
  ". a a .";
}
div#home_content
{
 grid-area:a;
 align-self: center;
 justify-self:center;
}
div#home_content > h1
{
 text-align:center;
 font-family:Helvetica,sans-serif;
 font-weight:bold;
 font-size:250%;
 color:#004C4C;
}
div#home_content > img 
{ display: block;
  margin:auto;
  margin-top:2px;
}
/***************/


/* ABOUT */
div#about_wrapper{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  grid-auto-rows: 220px;
  grid-template-areas:
  ". a a ."
  ". a a .";
}
div#about_content
{
 grid-area:a;
 align-self: center;
 justify-self:center;
}
div.text_content
{ margin-bottom: 20px;
}
div.text_content >  h3
{ color:#001919;
  font-family:Helvetica,sans-serif;
  font-weight: lighter;
}
div#About > p 
{ color:#001919;
  font-family:Helvetica,sans-serif;
}
div#About > a
{ text-decoration:none;
}
div#About >  div.text_content
{ border-bottom:1px solid red;
  margin:auto;
  margin-top: 60px;
}
/**********/

/* CONTACT */
div#contact_wrapper{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  grid-auto-rows: 220px;
  grid-template-areas:
  ". a a ."
  ". a a .";
}
div#contact_content
{
 grid-area:a;
 align-self: center;
 justify-self:center;
}
/**************/




/* FOOTER */
div#footer
{ width:100%;
  position:fixed;
  left:0;
  bottom:10px;
}
div#div_menu
{ display:table;
  margin: 0 auto;
}
ul#menu
{
  list-style-type:none;
  margin:0;
  padding:0;
}
ul#menu > li 
{
  display:inline;
}
ul#menu > li > a
{ padding: 5px;
  text-decoration: none;
  font-family:Helvetica,sans-serif;
  color:#001919;
}
ul#menu > li > a:visited
{ color:blue;
  color:#001919;
}
ul#menu > li > a:hover
{ font-weight:bold;
}

/***************/

/* PROJECTS */
div.center
{display:grid;
}
div.project
{ position:relative;
  justify-self:center;
}
div.project > div.project_image
{ height:600px;
  z-index:10;
}
div.project > div.project_description
{  position:absolute;
  background-color:red;
  top:0;
  left:0;
}
div.project > div.project_description > p
{ color:white;
}
div.project > div.project_image > img
{max-width:100%;
 height:auto;
}
/***************/


