@media(min-width:480px)
{
}
@media(min-width:700px)
{
}
body
{ background-color:rgb(232,247,197);
}
/* HEADER */
div#header
{ text-align:justify;
  text-justify: inter-word;
}
div#header > h2
{
 font-family:Helvetica,sans-serif;
 font-weight:lighter;
 color:rgb(97,32,43);
}
h2#my_name
{letter-spacing: 2px;
}
h2#my_name_1
{ margin-top:-25px;
  letter-spacing:5px;
}
hr{
 margin-right:-7px;
 margin-left:-7px;
 height:1px;
 background-color:red;
}
/***************/


/* INDEX PAGE */

div#home_wrapper{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  grid-auto-rows: 200px;
  grid-template-areas:
  ". a a ."
  ". a a .";
}
div#home_content
{
 grid-area:a;
 align-self: center;
 justify-self:center;
}
div#home_content > h1
{
 text-align:center;
 font-family:Helvetica,sans-serif;
 font-weight:bold;
 font-size:250%;

}
div#home_content > img 
{ display: block;
  margin:auto;
}
/***************/


/* FOOTER */
div#footer
{ width:100%;
  position:fixed;
  left:0;
  bottom:10px;
}
div#div_menu
{ display:table;
  margin: 0 auto;
}
ul#menu
{
  list-style-type:none;
  margin:0;
  padding:0;
}
ul#menu > li 
{
  display:inline;
}
ul#menu > li > a
{ padding: 5px;
  text-decoration: none;
}
ul#menu > li > a:hover
{ font-size:10px;
}
/***************/

/* PROJECTS */
div.center
{display:grid;
}
div.project
{ position:relative;
  justify-self:center;
}
div.project > div.project_image
{ /*width:600px*/;
  height:600px;
  z-index:10;
}
div.project > div.project_description
{  position:absolute;
  background-color:red;
  top:0;
  left:0;
}
div.project > div.project_image > img
{max-width:100%;
 height:auto;
}
/***************/


