doctype html
html(lang='en')
 head 
  include head.pug
  title About
 body
  include header.pug
  div(id='about_wrapper')
   div(id='about_content')
    div(class='text_content')
     h3 About me 
     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. 
    div(class='text_content')
     h3 Interest 
     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. 
    div(class='text_content')
     h3 Education  
     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. 
  
  
  include footer.pug
  include script.pug
