doctype html
html(lang='en')
 head 
  include head.pug
  title Contact
 body
  include header.pug
  div(id='contact_wrapper')
   div(id='contact_content')
    div(class='text_content')
     h3 EMAIL ME 
     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. 
    div(class='text_content')
     h3 LINKEDIN 
     p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. 
    div(class='text_content')
 
 include footer.pug
 include script.pug
