div(id='footer')
 div(id='div_menu')
  ul(id='menu')
   li
    a(href="index.html") HOME
   li
    a(href="projects.html") PROJECTS
   li
    a(href="about.html") ABOUT
   li
    a(href="contact.html") CONTACT

