doctype html
html(lang='en')
 head
  include head.pug
  title Home
 body
  include header.pug
  div(id='home_wrapper')
   div(id='home_content')
    h1 SOFTWARE DEVELOPPER
    img(src='img/image_animated.png')
  include footer.pug
  include script.pug
