doctype html
html(lang='en')
 head
  include head.pug
  title Home
 body
  include header.pug
  div(id='home_wrapper')
   div(id='home_content')
    h1 SOFTWARE DEVELOPER
    img(id="bar_1" src='img/img_bar_white.png')
    img(id="bar_2" src='img/img_bar_white.png')
    img(id="bar_3" src='img/img_bar_white.png')
    img(id="bar_4" src='img/img_bar_white.png')
    img(id="bar_5" src='img/img_bar_white.png')
  include footer.pug
  include script.pug
  script(src='js/center.js')
